body {
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.container {
	margin: 0 auto;
	width: 925px;
	margin-top: 50px;
	text-align: left;
}

.logo {
	font-family: ProximaNovaSemibold;
	color: #4d4d4d;
	font-size: 48px;
	display: inline-block;
	float: left;
}

.shopping-cart {
	font-family: ProximaNovaRegular;
	font-size: 12px;
	color: #807f84;
	float: right;
	display: inline-block;
	width: 200px;
	text-align: right;
}

.blank {
	clear: both;
}

.cart-items, .cart-total, .cart-img {
	display: inline-block;
	padding: 4px 13px 4px 13px;
}

.cart-items, .cart-total {
	border-right: 1px solid #eaeaea;
}

.cart-img img {
	margin-bottom: -3px;
}

.divider {
	margin-bottom: 17px;
	margin-top: 20px;
	border-bottom: 1px solid #eaeaea;
}

.nav {
	width: 156px;
	display: inline-block;
	margin-right: 18px;
}

.search-form {
	border: 0;
	outline: none;
}

.search-box {
	border: 0;
	-webkit-appearance: none;
	font-size: 18px;
	font-family: ProximaNovaRegular;
	width: 100%;
	background: white url('../img/search.png') no-repeat 8px 4px;
	padding-left: 24px;
}

input::-webkit-input-placeholder {
	color: #cdcdcd;
}
input:-moz-placeholder {
	color: #cdcdcd;
}

.products-section {
	display: inline-block;
	vertical-align: top;
	width: 747px;
}

.featured-row {
}

.product {
	position: relative;
	display: inline-block;
	width: 243px;
	margin-right: 9px;
	margin-bottom: 36px;
	float: left;
	vertical-align: top;
}

.product-img {
	width: 243px;
	display: block;
	margin-bottom: 12px;
	margin-right: 0;
}

.sale {
	position: absolute;
	top: -1px;
	left: 10px;
}

.soldout {
	position: absolute;
	top: 30px;
	left: 0;
}

.featured {
	font-family: ProximaNovaRegular;
	font-size: 24px;
	color: #91979b;
	margin-top: 16px;
}

.featured-divider {
	margin: 16px 0;
	border-bottom: 1px solid #eaeaea;
}

.price {
	font-family: ProximaNovaBold;
	font-size: 16px;
	color: #a6aaad;
	padding-right: 11px;
}

.desc {
	font-family: ProximaNovaRegular;
	font-size: 16px;
	color:#7f7e83;
	padding-left: 11px;
	border-left: 1px solid #EEE;
}

.nav-head {
	font-family: ProximaNovaBold;
	font-size: 18px;
	color: #4d4d4d;
	margin-bottom: 18px;
	padding-left: 5px;
}

.nav-item {
	font-family: ProximaNovaRegular;
	font-size: 18px;
	color: #4d4d4d;
	background-color:	#fff;
	padding-left: 5px;
	padding: 1px 0 1px 5px;
}

.nav-item:hover {
	background-color:	#eeeeee;	
}

.nav-divider {
	margin: 34px 0;
	border-bottom: 1px solid #eaeaea;
}

.carousel {
	position:relative;
	width:747px;
	height:300px;
	background:url(img/loading.gif) no-repeat 50% 50%;
}

.carousel img {
    position:absolute;
    top:0px;
    left:0px;
    display:none;
}

.carousel a {
    border:0;
    display:block;
}

.nivo-controlNav {
    position:absolute;
    right: 10px;
		top: 277px;
    z-index:20;
}

.nivo-controlNav a {
    display:block;
    width:12px;
    height:12px;
    background:url(../img/bullets.png) no-repeat;
    text-indent:-9999px;
    border:0;
    margin-right:3px;
    float:left;
}

.nivo-controlNav a.active {
    background-position:0 -12px;
}
/* start product desc */

.pd-imgs {
	display: inline-block;
	margin-right: 40px;
	vertical-align: top;
}

.pd-name {
	font-family: ProximaNovaRegular;
	font-size: 24px;
	color: #7f7e83;
	margin-bottom: 30px;
}

.pd-desc {
	font-family: ProximaNovaRegular;
	font-size: 14px;
	line-height: 20px;
	color: #7f7e83;
}

.pd-price {
	font-family: ProximaNovaRegular;
	font-size: 18px;
	color:#a6aaad;
	float: left;
}

.pd-text {
	width: 308px;
	display: inline-block;
	vertical-align: top;
}

.pd-text a {
	text-decoration: underline;
	text-transform: uppercase;
	color: #ed5241;
	font-family: ProximaNovaBold;
	font-size: 12px;
	float: right;
}

.thumb {
	display: inline-block;
	width: 89px;
	margin-top: 8px;
	margin-right: 8px;
}

.last {
	margin-right: 0;
}

.options {
	width: 160px;
	margin-bottom: 30px;
	clear: both;
}