<div class='thirteen columns clearfix'>
{% paginate collection.products by 21 %}
	{% if collection.products.size == 0 %}
		Sorry, there are no products in this collection.
	{% else %}		
		{% for product in collection.products %}
			{% include 'product_loop' %}
		{% endfor %}
		{% if paginate.pages > 1 %}
		<div id="pagination">
			<ul>
				<li>{{ paginate | default_pagination }}</li>
			</ul>
		</div>
		{% endif %}
	{% endif %}
{% endpaginate %}
</div>