<div class='products-section'>
  <div class='carousel'>
    <img src="{{ 'carousel1.png' | asset_url }}" alt="" />
		<img src="{{ 'carousel2.png' | asset_url }}" alt="" />
  </div>

	{% if settings.home_featured %}
	  <div class='featured'>featured products</div>
	  <div class='featured-divider'></div>
		<table>
			{% tablerow product in collections[settings.home_featured_collection].products cols: 3 %}
				{% include 'product_loop' %}
			{% endtablerow %}
		</table>
	{% endif %}
	
	{% if settings.home_newest %}
	  <div class='featured'>newest products</div>
	  <div class='featured-divider'></div>
		<table>
			{% tablerow product in collections[settings.home_newest_collection].products cols: 3 %}
				{% include 'product_loop' %}
			{% endtablerow %}
		</table>
	{% endif %}
	
</div>