<div class='thirteen columns clearfix'>
	<div class="eight columns alpha">
		<div class="page-title">{{ page.title }}</div>
		<div class="divider alpha"></div>
		<div class="page-content">
			{{ page.content }}
		</div>
	</div>
</div>